{% extends 'base_with_menu.html' %}

{% block title %}Dashboard | Funpro{% endblock %}

{% block content %}
<section id="dashboard">
	<div class="info">
		<span>Bienvenido <strong>dair d&iacute;az</strong> <a href="#">salir</a></span>
	</div>
	<div class="left">
		<div class="panel">
			<div class="header">
				<h2>opciones</h2>
			</div>
			<div class="content">
				<ul>
					<li><a href="#">&raquo; info del curso</a></li>
					<li><a href="#">&raquo; mi rendimiento</a></li>
					<li><a href="#">&raquo; qu&eacute; hacer</a></li>
					<li><a href="#">&raquo; recursos</a></li>
					<li><a href="#">&raquo; mi perfil</a></li>
				</ul>
			</div>
		</div>
		<div class="panel">
			<div class="header">
				<h2>recomiendaciones</h2>
			</div>
			<div class="content">
				<ul>
					<li><a href="#">&raquo; recurso uno</a></li>
					<li><a href="#">&raquo; recurso dos</a></li>
					<li><a href="#">&raquo; recurso tres</a></li>
					<li><a href="#">&raquo; recurso cuatro</a></li>
				</ul>
			</div>
		</div>
		<div class="panel">
			<div class="header">
				<h2>ayuda</h2>
			</div>
			<div class="content">
				<ul>
					<li><a href="#">&raquo; tema uno</a></li>
					<li><a href="#">&raquo; tema dos</a></li>
					<li><a href="#">&raquo; tema tres</a></li>
					<li><a href="#">&raquo; tema cuatro</a></li>
				</ul>
			</div>
		</div>
	</div
	><div class="right">
		<span>content</span>
	</div>
</section>
{% endblock %}