{% extends 'base_with_menu.html' %}

{% block title %}Dashboard{% endblock %}

{% block menu %}
<nav>
	<ul>
		<li class="item"><a class="active" href="#">intro</a></li
		><li class="item"><a class="" href="#">descripci&oacute;n</a></li
		><li class="item"><a class="" href="#">explicaci&oacute;n</a></li
		><li class="item"><a class="" href="#">ejercicio</a></li
		><li class="item"><a class="" href="#">actividad</a></li
		><li class="item"><a class="" href="#">evaluaci&oacute;n</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<section id="dashboard">
	<div class="info">
		<span>Bienvenido <strong>{{ user.get_short_name }}</strong> <a href="{% url 'account-logout' %}">salir</a></span>
	</div>
	<div class="left">
		{% block left %}
		{% include 'dashboard/options_panel.html' %}
		{% include 'dashboard/recommendation_panel.html' %}
		{% include 'dashboard/help_panel.html' %}
		{% endblock %}
	</div
	><div class="right">
		{% block right %}{% endblock %}
	</div>
</section>
{% endblock %}