{% extends 'dashboard/dashboard.html' %}

{% block title %}Profile{% endblock %}

{% block menu %}{% endblock %}

{% block left %}
{% include 'dashboard/options_panel.html' %}
{% include 'dashboard/help_panel.html' %}
{% endblock %}

{% block right %}
<div class="profile module-container">
	<div class="header module-header">
		<h2>mi perfil</h2>
	</div>
	{% if messages %}
	<ul class="messages">
	{% for message in messages %}
		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	<div class="module-content">
		<div class="left-side">
			<div class="pic">
				<img src="http://www.bradfordcityfc.co.uk/images/common/bg_player_profile_default_big.png" alt="">
			</div>
			<div class="options">
				<a href="#">cambiar imagen</a>
			</div>
		</div
		><div class="right-side">
			<div class="row">
				<strong>{{ user.get_short_name }} <a href="#">editar</a></strong>
			</div>
			<div class="row">
				<strong>24/07/1990 <a href="#">editar</a></strong>
			</div>
			<div class="row">
				<strong class="email">{{ user.email }} <a href="#">editar</a></strong>
			</div>
			<div class="row">
				<strong>reflexivo, intuitivo, verbal, global <a href="{% url 'dashboard-test' %}">iniciar test</a></strong>
			</div>
		</div>
	</div>
</div>
{% endblock %}